.individual-project-card-root{
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 4em;
    padding-bottom: 4em;
}
.individual-project-card-root .individual-project-card-container{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: flex-start;
}
.individual-project-card-container .card-image-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    grid-gap: 1em;
}
.card-image-container .main-image img{
    width: 100%;
    object-fit: cover;
}
.card-image-container .secondary-image-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;    
}
.card-image-container .secondary-image-container .secondary-image{
    width: 100%;
}
.card-content-container{
    padding:1.3em;
    font-size: 0.8em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-content-container .stepper{
    display:flex;
    justify-content: space-around;
    margin-top: 1em;
    margin-bottom: 2em;
}
.card-content-container .status-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.card-content-container .status-info p:first-child span{
    color: #1A82FF;
}
.card-content-container .additional-info{
    width:100%;
    display: flex;
    justify-content: space-around;
}
.card-content-container .stepper{
    display:flex;
    justify-content: space-around;
    margin-top: 1em;
    margin-bottom: 2em;
}
.card-content-container .invest-button{
    width: 100%;
    border: none;
    padding: 0.6rem 2rem;
    font-size: 0.9rem;
    font-weight: 500;
    background-color: #1a82ff;
    color: white;
    margin-bottom: 2em;
    border: 1px solid #1a82ff;
    transition: all 0.3s linear;
}

.card-content-container .invest-button:hover
{
    background-color: transparent;
    border: 1px solid #1a82ff;
    color: #1a82ff;
}
.card-content-container .share-in-social{
    font-size: 1.2rem;
    width: 30%;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 800px){
    .individual-project-card-root .individual-project-card-container{
        width: 90%;
        grid-template-columns: 1fr;
        
    }
    .card-content-container{
        padding: 0;
    }
}
@media only screen and (max-width: 575px){
    .card-content-container .share-in-social{
        width:40%;
    }
}
@media only screen and (max-width: 370px){
    .card-content-container .share-in-social{
        width:45%;
    }
}