.personal-info-root{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 4em;
    padding-bottom: 4em;
}
.personal-info-root .personal-info-container{
    width: 60%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 8em;
    
}
.personal-info-container .info-edit{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr ;
    grid-gap: 1em;
}
.info-edit img{
    width: 100%;
    align-self: center;
    border-radius: 50%;
}
.info-edit .about{
    align-self: center;

}
.info-edit .about .author-id{
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    justify-content: space-between;
}
.info-edit .about .edit-button{
    border: none;
    padding: 0.6rem 1.4rem;
    background-color: #1a82ff;
    color: white;
    font-weight: 500;
    margin: 0.5em 1em;
}
.logOut
{
    margin: 0.5em 1em;
    background-color: transparent;
    border: 1px solid #1a82ff;
    color: #1a82ff;
    display: inline;
    transition: all 0.3s linear;

}
.logOut:hover
{
    background-color: #1a82ff;
    color: #fff;
}
.personal-info-container .info-settings{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
}
.info-settings a{
    font-size: 0.8rem;
}
@media (max-width: 800px) { 
    .personal-info-root .personal-info-container{
        grid-gap: 4em;
        width: 70%;
    }
}
@media (max-width: 578px) { 
    
    .personal-info-root .personal-info-container{
        grid-gap: 1em;
        width: 70%;
        grid-template-columns: 1fr ;
        grid-template-rows: auto;
    }
    .personal-info-container .info-edit{
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }
    .personal-info-container .info-settings{
        
        align-items: center;
        
    }
    .info-edit .about{
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .info-edit .about h4{
        align-self: center;
    
    }
}