.how-it-root{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    background-color: #f5f6f6;
    margin-bottom: 2em;
}
.how-it-container{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: flex-start;
}
.how-it-nav{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.how-it-nav .title, .subtitle{
    align-self: center;
}
.steps-container{
    width: 100%;
    display: grid;
    font-size: 0.7rem;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}
@media (max-width: 575.98px) { 
    .steps-container{
        width: 100%;
        display: grid;
        font-size: 0.7rem;
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }
}
