.step-item{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-gap: 1em;
    align-items: center;
}
.item-icon img{
    width: 100%;
    border-radius: 50%;
}
@media only screen and (max-width: 800px){
    .step-item{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }
}
@media (max-width: 575.98px) { 
    .step-item{
        grid-template-columns: 3fr 7fr;
    }
}