.card-container-root{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 1em;
    margin: 0;
}
.card-container-root .card-container{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1em;
    justify-content: center;

}
@media only screen and (max-width: 1100px){
    .card-container-root .card-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        justify-content: center;
        grid-gap: 1em;
    }
}
@media only screen and (max-width: 800px){
    .card-container-root .card-container{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 1em;
        justify-content: center;
        align-items: center;
        padding-left: 3em;
        padding-right: 3em;
        height: 400px;
    }
}
@media only screen and (max-width: 575px){
    .card-container-root .card-container{
        
        padding: 0;
    }
}
