.school-page-content
{
	width: 90%;
	margin: 0px auto;
	padding: 2em;
}
.school-page-body
{
	display: grid;
	font-size: 16px;
	
}

.school-page-body-text
{
	padding: 1em;
	text-align: justify;
}

.schoolpage-root
{
	background-color: #eee;
}

.schoolpage-container
{
	width: 90%;
	margin: 0px auto;
}

.choolpage-title
{
	margin: 1em;
	
	margin-bottom: 2em;
}

.schoolpage-containers
{
	display: grid;
	grid-template-columns: 4fr 1fr;
}

@media only screen and (max-width: 767px)
{
	.schoolpage-containers
	{
		grid-template-columns: 1fr;
	}

	.school-page-content
	{
		width: 100%;
		margin: 0px auto;
		padding: 10px;
	}
	.schoolpage-container
	{
		width: 90%;
		margin: 0px auto;
	}
}