.contacts-page-body
{
	display: grid;
	grid-template-columns: repeat(3,  1fr);
	grid-gap: 1em;
	
}

.contacts-container
{
	width: 80%;
	margin: 0px auto;

}
.contacts-form
{
	padding: 1em;
}

.contacts-send
{
	text-align: right;
}

.contacts-content
{
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 1em;
	grid-column-gap: 1em;
	margin-bottom: 2em;
}

.contacts-content .contact-map img
{
	width: 90%;
}

@media screen only and (max-width: 1200px)
{

}
@media screen only and (max-width: 992px)
{
	
}
@media only screen  and (max-width: 767px)
{
	.contacts-content .contact-map img
	{
		width: 100%;
	}
	.contacts-content
	{
		display: grid;
		grid-template-columns: 100%;
		padding: 1em;
		grid-gap: 1em;
		text-align: justify;

	}
}

@media only screen and (max-width: 576px)
{
	.contacts-content
	{
		display: grid;
		grid-template-columns: 100%;
		padding: 1em;
		grid-column-gap: 1em;
		grid-gap: 1em;
		font-size: 13px;
	}
	
}