.YouTube-video
{
    min-width: 100%;
}
.individual-project-description-root{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 13em;
}
.individual-project-description-root .individual-project-description-container{
    width: 70%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1em;
}
.description-main-content{
    overflow: hidden;
}
.description-main-content img{
    margin: 0;
    margin-bottom: 1rem;
    
}
.description-side-content{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.description-side-content .help-desk{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1.3em;
    border: 1px solid black;
    margin-bottom: 1em;
}
.description-side-content .ask-question{
    align-self: flex-end;
}

.modal-button
{
    cursor: pointer;
    color: #1a82ff;
    
}
@media only screen and (max-width: 800px){
    .individual-project-description-root .individual-project-description-container{
        width: 70%;
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 1em;
    }
}