.login-form-root
{
	background-image: url("/3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 3em;
	/* color: #1A82FF; */
}

.error-form input
{
	border: 1px solid #1A82FF;
}

.error-form .error-message
{
	color: #1A82FF;
}

.login-form-root h3
{
	margin-bottom: 1em;
	color: #1A82FF;
	text-align: center;
}

.login-form
{
	position: relative;
	margin: 0px auto;
	width: 50%;
	background-color: #fff;
	padding: 4em;
}

.login-form input
{
	outline: none;
	
}
.login-form input::placeholder
{
	color: #aaa;
}


.form-item
{
	position: relative;
}

.submit-div
{
	display: grid;
	grid-template-columns: 2fr 1fr;
}


.submit-btn
{
	margin-top: 2em;
	position: relative;
	border: 1px solid #1A82FF;
}

.login-button
{
	width: 100%;
	border: 1px solid #1A82FF;
	background-color: #1A82FF;
	padding: 5px;
	color: #fff;
	transition: all 0.5s linear;
}

.login-button:hover
{
	border: 1px solid #1A82FF;
	background-color: transparent;
	color: #1A82FF
	
}

@media only screen and (max-width: 1200px)
{
	.login-form
	{
		
		width: 60%;
		
	}
}

@media only screen and (max-width: 992px)
{
	.login-form
	{
		width: 75%;
	}
}

@media only screen and (max-width: 768px)
{
	.login-form
	{
		width: 85%;
		padding: 2em;
	}
	
}
@media only screen and (max-width: 576px){
	.login-form-root
	{
		padding: 1.2em;
	}
	.login-form
	{
		width: 95%;
		padding: 1.5em 1em;
	}

	.submit-div
	{
		grid-template-columns: 1fr 1fr;
	}

	.small
	{
		width: 80%;
		margin-left: 10px;
	}
}




