.registration-form-root
{
	width: 50%;
	margin: 0px auto;
	padding: 50px;
}

.has-error input
{
	border: 1px solid red;
}

.error-messages
{
	color: red;
	font-style: italic;
}

.error-messages span
{
	margin: 10px;
}


