.categories-root{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1em;
    background-color: white;
}
.categories-container{
    display: flex;
    width: 70%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.categories-container .nav{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
/* .nav h1{
    margin-top: 35px;
    margin-bottom: 20px;
} */
.category-items{
    width:100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}
.category-items .item{
    width: 100%;
    height: 150px;
    /* background-image: url("../../img/kidsBed.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.item div{
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
}

.item .title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
}

.item:hover
{
    opacity: 0.9;
}


@media only screen and (max-width: 880px){
    .category-items{
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (max-width: 575px){
    .category-items{
        grid-template-columns: 1fr;
    }
}