.page-root
{
	/* background-image: url("/3.jpg");
	background-color: rgba(0, 0, 0, 0.4);
	background-position: top;
	background-size: cover;
	min-height: 80vh; */
	

}

.page-root-child
{
	/* width: 100%;
	min-height: 80vh;
	height: 100%;
	background-color: rgba(0,0,0,0.6); */
	padding: 2em;
}

.about-us-title
{
	text-align: center;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}



.page-body
{
	padding: 1em;
	display: grid;
	grid-template-columns: 50% 50%;
}

.page-body img
{
	width: 100%;

}

.page-text
{
	padding: 0em 2em;

}

.page-text div
{
	padding-top: 1em;
	border-bottom: 1px solid #aaa;
	padding-bottom: 1em;
}

.page-img
{

}