.spinner-block
{
    transform: translate(-50%, -50%);
}

.clear-draft
{
    background-color: transparent;
    border: none;
    outline: none;
}

.editor-error
{
    margin-left: 1em;
}

.hide-input
{
    display: none;
}

.create-project-main-root{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2em;
    padding-bottom: 2em;
}

.create-project-main-root .create-project-main-container{
    width: 70%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1em;
    justify-content: center;
}
.create-project-main-container .main-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 0.6fr 0.6fr 0.6fr 1fr;
    grid-row-gap: 1em;
}
.main-container .custom-form-group{
    padding: 3em;
    width:100%;
    border: 1px solid black;
}
.main-container .custom-form-group>span{
    display: block;
    font-size: 0.9rem;
    color: grey;
    font-weight: 500;
}
.custom-form-group .upload-image-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    
    grid-row-gap: 1em;
    grid-template-rows: 2.5fr 0.8fr;
}

.custom-form-group .upload-video-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
    grid-template-rows: 1fr;
}

.hide-image
{
    display: none;
}
.show-image
{
    display: inline;
}
.custom-form-group img
{
    width: 100%;
}
.upload-image-container .upload-image, .upload-video{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.upload-image-container .upload-image h5, .upload-video-actions .upload-video h5{
    align-self: center;
    margin: 0;
}
.upload-image-container .upload-video-actions{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
}
.upload-video-actions .uploading-actions{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1em;
}

.upload-image-button, .upload-video-button, .next-button{
    border: none;
    padding: 0.6rem 2rem;
    font-size: 0.9rem;
    font-weight: 500;
    background-color: #1a82ff;
    color: white;
}
.uploading-actions .upload-video-button{
    padding: 0.6rem 1.8rem;
}
.upload-image-button+span, .upload-video-button+span{
    color: grey;
    font-size: 0.9rem;
    font-weight: 500;
    display: block;
}
.clear-or-next-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.secondary-container
{
    width: 100%;
}
.secondary-container .preview-and-questions{
    width: 90%;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: right;
    
}
.ask-a-question-link{
    font-size: 0.7rem;
    padding-right: 1em;
    align-self: center;
    justify-self: flex-end;
}
/* .secondary-container .mg-none{
    margin: 0;
} */
.full-width{
    width: 100%;
}

.error {
    font-weight: 700;
    color: #F44336;
    margin-top: 10px;
}
.active
{
    color: green;
}
.form-input.has-error input, 
.form-input.has-error textarea {
    border:1px solid #F44336;
}

.text-editor
{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-column-gap: 1em;
    margin-top: 1em;
    width: 70%;

}

.text-editor .editor-toolbar 
{
 border-bottom: 1px solid #aaa;   
}

.text-editor .editor
{
    border-bottom: 1px solid #aaa;
    height: 300px;
    overflow: hidden;

}

.editor-wrapper
{
    border: 1px solid #aaa;
    margin-bottom: 2em;
}
.editor-wrapper-text
{
    padding: 1em;
}
.editor-wrapper-header
{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 1em;
}

.create-failed-div
{
    width: 70%;
    margin: 1em auto;
    border: 1px solid #aaa;
    padding: 3rem;
    margin-bottom: 3em;
}
.create-register-btn
{
    border: none;
    padding: 0.6rem 2rem;
    font-size: 0.9rem;
    font-weight: 500;
    background-color: #1a82ff;
    color: white;
    margin-left: 1em;
    text-decoration: none;
    color: #fff;
    transition: all 0.5s linear;
    border: 1px solid #1A82FF;
}
.create-register-btn:hover
{
    background-color: transparent;
    border: 1px solid #1A82FF;
    color: #1A82FF;
}
.create-login-btn
    {
        border: 1px solid #1A82FF;
        color: #1A82FF;
        padding: 0.6rem 2rem;
        font-size: 0.9rem;
        font-weight: 500;
        background-color: transparent;
        margin-left: 1em;
        text-decoration: none;
        transition: all 0.5s linear;

    }
    .create-login-btn:hover
    {
        background-color:#1A82FF; 
        color: #fff;
    }
    
    .react-datepicker-wrapper
    {
        width: 100%;
    }
    .react-datepicker__input-container
    {
        
        width: 100%;
    }
    .react-datepicker__input-container input
    {
        width: 100%;
        padding: 7px;
        border: none;
        border: 1px solid #aaa;
        border-radius: 3px;

    }

@media only screen and (max-width: 1199px)
{
    .create-project-main-root .create-project-main-container
    {
        width: 80%;
        
    }
}

@media only screen and (max-width: 1012px){
    .create-project-main-root .create-project-main-container{
        width: 80%;
        
    }
    
    .upload-image-container .upload-video-actions{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 1em;
        
    }

    .text-editor
    {   
        grid-template-columns: 1fr;
    }
    .clear-or-next-container .next-button
    {
        margin-top: 1em;
    }

    
}



@media only screen and (max-width: 900px){


    .create-project-main-root .create-project-main-container{
        grid-template-columns: 1fr;
        
        grid-template-areas: "form"
                            "secondary";

    }
    .create-project-main-container .main-container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.2fr 0.2fr 0.2fr 0.1fr 0.01fr;
        
    }
    
    /* .create-project-main-container .secondary-container{
        order: -1;
        padding-bottom: 2em;
        grid-template-areas: "secondary";
    } */
    .main-container
    {
        grid-template-areas: "form";   
    }
    
    .secondary-container{
        width: 100%;
        display: flex;
        
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .secondary-container
    {
        width: 50%;
        margin: 0px auto;
        grid-template-areas: "secondary";
    }

    /* .image-actions, .video-actions{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    } */
    .next-button.mg-none{
        padding: 0.6rem 1.5rem;
    }

   
}
@media only screen and (max-width: 800px){
    .secondary-container
    {
        width: 70%;
        margin: 1em auto;
    }
}
@media only screen and (max-width: 700px){
    .secondary-container
    {
        width: 100%;
        margin: 0px auto;
    }
}

@media (max-width: 500px){
    
    .create-project-main-container .main-container{
        
        grid-template-rows: 0.3fr 0.2fr 0.2fr 0.2fr 0.02fr;

        
    }
    .custom-form-group .upload-image-container{
        grid-template-rows: 2fr 1fr;

    }

    .main-container .custom-form-group{
        padding: 1.5em;
    }
    .upload-video-actions .uploading-actions{
    
        grid-template-rows: 1fr;
        
    }
    .upload-image i
    {
        margin-left: 20px;
    }

     .upload-image-container .upload-video-actions{
        grid-template-columns: 1fr;
        grid-template-rows: 0.8fr 0.2fr;
        grid-row-gap: 1em;
        
    }

    .create-failed-div
    {
        width: 90%;
        padding: 2em;

    }
    .create-register-btn
    {
        margin-top: 10px;
    }

    .create-register-btn, .create-login-btn
    {
        padding: 0.6em 1em;   
    }
    

}