.breadcrumb-root{
    width: 100%;
    display: flex;
    height: 10em;
    justify-content: center;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4) )/* , url('../../img/breadcrumb.jpg') */;
    border-image-repeat: none;
    background-position:center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}
.breadcrumb-root .breadcrumb-container{
    width: 70%;
    display: flex;
    justify-content: flex-start;
}
.breadcrumb-container .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.breadcrumb-container .content p{
    margin-bottom: 0;
}