.root-Logo
{
	padding-top: 10px;
}
.Logo
{
	display: grid;
	grid-template-columns: 15% 35% 28% 15% 7%;
	font-size: 16px;
}


.brand img
{
	width: 100px;
}

.brand .logo-menu-btn
{
	display: none;
	
}
.menus
{
	/* border: 1px solid red; */
	display: flex;
	align-items: center;
}
.menus span
{
	margin-right: 15px;
}
.menus span:hover
{
	color: #1A82FF;
}

.logo-mobile-menus
{
	display: none;
}

.search
{
	/* border: 1px solid red; */
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 10px;
}
.search i:hover
{
	color: #1A82FF;
}
.search input
{
	opacity: 1;
}

.search input[type=text] {
	opacity: 1;
	outline: none;
	position: relative;
	border: none;
  width: 0px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}



/* When the input field gets focus, change its width to 100% */
.search  input[type=text]:focus {
	padding: 10px;
	border-bottom: 2px solid #1A82FF;
  width: 90%;
}
.create
{
	display: flex;
	align-items: center;
	justify-content: center;
	/* border: 1px solid red; */
	padding: 0px;
}
.create p
{
	width: 100%;
	margin-top: 10px;
	padding: 3px 10px;
	/* border: 1px solid red; */
	border-right: 2px solid #aaa;
	border-left: 2px solid #aaa;
}

.button{
	display: flex;
	align-items: center;
	justify-content: center;	
	font-size: 14px;
	
}
.button button
{
	background-color: #1A82FF;
	border: none;
	outline: none;
	color: #fff;
	padding: 5px 10px;
	transition: all 0.3s linear;
	border: 1px solid #1A82FF;
}

.button button:hover
{
	color: #1A82FF;
	border: 1px solid #1A82FF;
	background-color: transparent;

}

.button .mobile-sign
{
	display: none;
}

.activeClassName
{
  color: #51BDFD;
}

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

/* Large Screen */
@media only screen and (max-width: 1199px )
{
	.container
	{
		padding: 0px;
	}
	.Logo
	{
		display: grid;
		grid-template-columns: 15% 50% 5% 22% 8%;
		font-size: 16px;
	}
	.brand img
	{
		width: 80px;
	}
	
	.menus
	{
		justify-content: center;
	}
	.search
	{
		position: relative;
	}
	.search input[type=text] {
		opacity: 1;
		outline: none;
		right: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
		position: absolute;
		border: none;
	  width: 0px;
	  -webkit-transition: width 0.4s ease-in-out;
	  transition: width 0.4s ease-in-out;
	}

	/* When the input field gets focus, change its width to 100% */
	.search  input[type=text]:focus {
		padding: 10px;
		border-bottom: 2px solid #1A82FF;
	  width: 200px;
	}

	.button button
	{
		display: none;
	}

	.button .mobile-sign
	{
		display: block;
	}

}

/* Media Screen */
@media only screen and (max-width: 767px )
{
	.Logo
	{
		display: grid;
		grid-template-columns: 25%  40% 30% 10%;
		font-size: 16px;
		
	}
	.menus
	{
		display: none;
	}
	.logo-mobile-menus
	{
		display: block;
		position: relative;
		grid-column: 2;

	}
	.logo-mobile-menus span
	{
		display: block;
		padding: 10px;
		border-bottom: 1px solid #aaa;
	}
	.logo-mobile-menus span:hover
	{
		color: #1A82FF;
		border-bottom-color: #1A82FF;
	}
	.brand .logo-menu-btn
	{
		display: inline;	
		font-size: 20px;
		padding: 0px 5px;
		margin-left: 10px;
		position: absolute;
		margin-top: 10px;
		border: none;
		background-color: transparent;
	}
	
	.show
	{
		display: block;
	}
	.hide
	{
		display: none;
	}
	.search input[type=text] {
		opacity: 1;
		outline: none;
		position: relative;
		/* border: none;
			    width: 0px; */
	    -webkit-transition: width 0.4s ease-in-out;
	    transition: width 0.4s ease-in-out;
	}
	.search  input[type=text]:focus {
		padding: 10px;
		border-bottom: 2px solid #1A82FF;
	  	width: 80%;
	}	
	.button .mobile-sign
	{
		display: block;
		grid-row-start: 1;
		text-align: center;	
	}
	.button .large-sign
	{
		display: none;
	}
	
}
@media only screen and (max-width: 575px )
{
	.container
	{
		
		padding: 10px;
	}
	.Logo
	{
		display: grid;
		grid-template-columns: 40% 45% 15%;
		grid-template-rows: auto;		
		padding: 0px;
	}
	.brand
	{
		grid-row-start: 1;
	}
	.search
	{
		grid-row-start: 1;
		display: none;
	}
	.create
	{
		grid-row-start: 1;
		text-align: center;

	}
	
	.button .mobile-sign
	{
		display: block;
		grid-row-start: 1;
		text-align: center;	
	}
	.button .large-sign
	{
		display: none;
	}

	.brand .logo-menu-btn
	{
		font-size: 20px;
		padding: 0px 5px;
		margin-left: 10px;
		position: absolute;
		margin-top: 7px;
	}


}

@media only screen and (max-width: 350px)
{
	.hide-500
	{
		display: none;
	}
}