.subscribe-root{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../img/subscribe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 4em;
    padding-bottom: 4em;
}
.subscribe-root .dark-background{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    pointer-events: none;
}
label.container{
  padding-left: 2em;
}
.subscribe-root .subscribe-container{
    width: 60%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
}
@media only screen and (max-width: 800px){
    .subscribe-root .subscribe-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
}
.subscribe-item:first-child{
    padding-left: 1em;
    padding-right: 1em;
    color: white;
}

.subscribe-item .content{
    font-size: 1rem;
    
}
.subscribe-item:nth-child(2){
    padding-top: 1em;
    color: white;
}
.subscribe-email{
    margin-bottom: 1em;
    font-size: 0.9rem;
    
}
.subscribe-email .subscribe-email-input {
   outline: none;
   border: none;
   padding: 0.65em;
   width: 60%;
   font-weight: 500;
}
.subscribe-email .subscribe-email-input::placeholder{
    color:grey;
}

.subscribe-email .subscribe-email-button {
   width: 40%;
   border:none;
   color: white;
   padding: 0.65em;
   font-weight: 500;
   background-color: #1a82ff;
}
.subscribe-agreement{
    display: flex;
    font-size: 0.8rem;
    flex-direction: row;
    align-items: center;
    margin-top: 2em;
}
.subscribe-agreement .container span{
    font-size: 0.7rem;
    display: flex;
    flex-direction: row;
}
.subscribe-agreement .container span a{
    text-decoration: underline;
    color: #1a82ff;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px; 
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 6px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  @media (max-width: 575.98px) { 
    .subscribe-root .subscribe-container{
      width: 70%;
  }
  .subscribe-email .subscribe-email-input {
    width: 50%;
 }
  .subscribe-email .subscribe-email-button {
    width: 50%;
   }
   .subscribe-item:first-child{
    padding: 0;
  }
   }

/* // Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... } */