.project-container{
    width:100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    grid-template-rows: 1fr;
    
    padding: 10px;
}
.project-container .image{
    width:100%;

    /* background-image: url("../../img/food.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-container .content{
    padding:1em;
    font-size: 0.8em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.content .description{
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 1em;
}
.content .title{
    margin-top: 0.4em;
}
.content .stepper{
    display:flex;
    justify-content: space-around;
    margin-top: 1em;
    margin-bottom: 2em;
}
.content .status-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.content .additional-info{
    width:100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
@media only screen and (max-width: 800px) {
    .project-container{
        grid-template-columns: 1fr;
        grid-column: span 2;
        grid-template-rows: 1fr 1fr;
    }
}
@media only screen and (max-width: 575px) {
    .project-container{
        grid-template-rows: 0.6fr 1fr;
    }
}