.pop-projects-root{
    display:flex;
    width:100%;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3em;
    margin-bottom: 4em;
}
.pop-projects-container{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.pop-projects-header{
    margin-bottom: 1em;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
