.filter .form-group
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: left;
	width: 100%;
}
.filter .form-group label
{
	text-align: right;
	margin-right: 1em;
}

@media only screen and (max-width: 767px)
{
	.filter .form-group
	{
		grid-template-columns: 1fr;
	}		
}