.card{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 1fr;
    justify-content: center;
    max-width: 450px;
}
.card-image{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card-image:hover
{
    opacity: 0.9;

}
.card-content{
    background-color: #f2f2f238;
    height: 250px;
    padding: 1em;
}
.card-content .top{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}
.card-content .project-info{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
}
.project-info .info-text span{
    font-size: 0.8rem;
    color: #bcbcbc;
}
.project-info .info-text p{
    font-size: 0.9rem;
    margin-bottom: 0;
}
.card-content .top p{
    color:#bcbcbc;
}
.card-content .title{
    font-weight: 500;
}
.card-content .about{
    
    font-size: 1rem;
    color:#a1a1a2;
}

.title-link
{
    text-decoration: none;
    color: #000;
}
.title-link:hover
{
    text-decoration: none;
}

@media only screen and (max-width: 1199px )
{
    .card{
        width: 90%;

    }

    .card-content{
    background-color: #f2f2f238;
    height: 300px;
    padding: 1em;
}

}

@media only screen and (max-width: 767px ){
       .card{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;

    }
}

@media only screen and (max-width: 600px )
{
    .card{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}