.Middle-image-container{
    width: 100%;
    height: 90vh;
    /* background-image: url("../../img/kidsBed.jpg"); */
    background-image: url("/Banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.Middle-image{
    background-color: rgba(0, 0, 0, 0.4);
    height: inherit;
}
.Middle-image-content{
    position: absolute;
    top: 35%;
    left: 10%;
    width: 40%;
    color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.Middle-image-content .subtitle {
    font-size: 15px;
}
.Middle-image-content .title {
    font-size: 44px;
    margin-bottom: 0.3em;
}
.actions-container{
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.actions-container button{
    font-size: 15px;
    font-weight: 500;
    border: none;
}
.actions-container .actions-more{
    padding: 11px 26px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    margin-right: 31px;
    transition: all 0.4s linear;
}
.actions-container .actions-more:hover{
    
    color: #fff;
    border: 1px solid #1a82ff;
    
}
.actions-container .actions-invest{
    background-color: #1a82ff;
    padding: 13px 28px;
    color: white;
    transition: all 0.4s linear;
    border: 1px solid #fff;
}
.actions-container .actions-invest:hover
{
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}

.actions-invest i:first-child{
    margin-left: 10px;
    color:#5ea8ff;
}
@media (max-width: 980px){
    .Middle-image-content .subtitle {
        font-size: 15px;
    }
    .Middle-image-content .title {
        font-size: 34px;
        margin-bottom: 0.3em;
    }
}
@media only screen and (max-width: 880px){
    .Middle-image-content{
        position: absolute;
        top: 35%;
        left: 10%;
        width: 50%;
        color: white;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
    }
    
}
@media only screen and (max-width: 710px){
    .Middle-image-content{
        position: absolute;
        top: 35%;
        left: 10%;
        width: 60%;
        color: white;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 600px){
    .Middle-image-content{
        position: absolute;
        top: 35%;
        left: 10%;
        width: 70%;
        color: white;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 505px){
    .Middle-image-content{
        position: absolute;
        top: 35%;
        left: 10%;
        width: 80%;
        color: white;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 440px){
    .Middle-image-content{
        position: absolute;
        top: 35%;
        left: 0;
        width: 100%;
        color: white;
        padding-left: 1em;
        padding-right: 1em;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
    }
    .actions-container .actions-more{
        margin-right: 0.5em;
        padding: 13px 14px;
    }
    .actions-container .actions-invest{
        
        padding: 15px 18px;
    }
}