.partners-root{
    width: 100%;
    height: 8em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f2f2f2;
}
.partners-root .partners-container{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
    height: 100%;
}
.partners-container .item{
    width: 100%;
    display: flex;
    align-items: center;
}
.partners-container .item img{
    width: inherit;
}