.blue-button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}
.blue-button{
    border: 1px solid #1A82FF;
    padding: 0.6rem 2rem;
    font-size: 0.9rem;
    font-weight: 400;
    background-color: #1a82ff;
    color: white;
    transition: all 0.4s linear;
}

.blue-button:hover
{
    border: 1px solid #1A82FF;
    color: #1A82FF;
    background-color: transparent;
}