.create-project-tips-root{
    width: 100%;
    display: flex;
    padding: 3em;
    justify-content: center;
}
.create-project-tips-root .create-project-tips-container{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.create-project-tips-container .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.create-project-tips-container .content p{
    margin-bottom: 0px;
    color: grey;
    font-size: 0.9rem;
    font-weight: 500;
}

@media only screen and (max-width: 576px)
{
    .create-project-tips-root{
        padding: 2em;
    }

    .create-project-tips-root .create-project-tips-container{
        width: 90%;
    }
}