.footer-root{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
   
}

.footer-main .title-link
{
    color: #aaa;
}
.footer-root .footer-container{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 2em;
}
.footer-container .footer-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    font-size: 0.8rem;
}
.footer-main p{
    color: #6C6E6D;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.footer-main h6{
    color: white;
    font-weight: 500;
    font-size: 0.8rem;
}
.subscribe-email .footer-subscribe-email{
    margin-bottom: 1em;
    max-width: 100%;
}
.subscribe-email .footer-subscribe-email .subscribe-email-input, .subscribe-email-input::-webkit-input-placeholder{
    font-size: 0.7rem;
}
.footer-payment{
    width: 100%;
    padding-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2em;
}
.payment-type{
    width: 70%;
    height: 2em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
}
.payment-type .payment{
    width: 2em;
    height: 2em;
    background-image: url("../../img/payment.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.payment-amount{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.footer-li
{
    list-style: none;
    margin: 5px;
    
}

.footer-li:hover
{
    color: #1A82FF;
}

form{
    width: 100%;
}
@media only screen and (max-width: 800px){
    .footer-container .footer-main{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
        font-size: 0.8rem;
    }
}
@media (max-width: 575.98px) { 
    /* .footer-container .footer-main{
        
        grid-template-columns: 1fr 2fr;
        
    }
    .subscribe-email .footer-subscribe-email{
        width: 100%;
        overflow: hidden;
    } */
    .footer-container .footer-main{
       grid-gap: 0;
    }
    .footer-payment{
        
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    }
    .payment-type{
        align-self: center;
        justify-content: center;
        margin-bottom: 1em;
    }
    
    .payment-amount{
        align-self: center;
        justify-content: center;
        flex-grow: 2;
    }
}
