.social-media-container{
    display: flex;
    justify-content: flex-start;
}
.social-media-container .fa {
    padding: 10px;
    font-size: 10px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .social-media-container .fa:hover {
      opacity: 0.7;
  }
  
  .social-media-container .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .social-media-container .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .social-media-container .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .social-media-container .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .social-media-container .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .social-media-container .fa-instagram {
    background: #125688;
    color: white;
  }