.comments-root
{
	
	background-color: #F2F2F2;
	min-width: 100%;
	height: 100%;
	padding: 1em;
}

.comments-container
{
	width: 60%;
	margin: 1em auto;
}

.comment-form
{
	background-color: #fff;
	padding: 10px;
	margin: 1em 0em;
}
.comment-form-img img
{
	width: 100%;
}

.white
{
	background-color: transparent;
	color: #1A82FF;
	margin-right: 10px;
}


.commit-buttons
{
	display: flex;
	justify-content: flex-end;
}


 .comment-item
 {
 	display: grid;
 	grid-template-columns: 70px auto 100px;
 	background-color: #fff;
 	padding: 10px;
 	margin: 10px 0px;
 }

 .comment-img img
 {
 	width: 80%;
 	border-radius: 50%;
 }
 .comment-body 
 {
 	display: grid;
 	width: 100%;
 }

 .comment-body span
 {
	word-wrap: break-word;
	width:600px;
 }

 .comment-body .comment-author
 {
 	color: #1A82FF
 }

 

 @media only screen and (max-width: 1199px)
 {
 	.comment-body span
 	{
 		width: 400px;
 	}	
 	.comments-container
 	{
 		width: 70%;
 	}
 }

 @media only screen and (max-width: 991px)
 {
 	.comment-body span
 	{
 		width: 350px;
 	}		
 	.comments-container
 	{
 		width: 70%;
 	}
 	.comment-item
	 {
	 	grid-template-columns: 70px auto 150px;
	 }
 }

 @media only screen and (max-width: 767px)
 {
	.comment-body span
 	{
 		width: 350px;
 	}		
 	.comments-container
 	{
 		width: 80%;
 	}
 	.comment-item
	 {
	 	grid-template-columns: 70px auto 150px;
	 }
 }

@media only screen and (max-width: 700px)
{
	.comments-container
 	{
 		width: 90%;
 	}
}
@media only screen and (max-width: 600px)
{
	.comment-body span
 	{
 		width: 250px;
 	}		
 	.comment-item
	 {
	 	grid-template-columns: 70px auto 90px;
	 }
}
@media only screen and (max-width: 575px)
{
	 .hide-mobile
	 {
	 	display: none;
	 }
}
@media only screen and (max-width: 500px)
{
	.comment-body span
 	{
 		width: 200px;
 	}		
 	.comment-item
	 {
	 	grid-template-columns: 70px auto ;
	 }	

	 .hide-mobile
	 {
	 	display: none;
	 }
	 .mobile-textarea
	 {
	 	width: 100%;
	 }
}

@media only screen and (max-width: 350px)
{
	.comment-img img
	 {
	 	display: none;
	 }	
	 .comment-item
	 {
	 	grid-template-columns: 1fr ;
	 }	
}