.Lastbar-container{
    background-color: #f2f2f2;
    align-items: center;
    margin: 0;
    

}
.mobile-menu
{
    display: none;
}
.Lastbar-menus
{
    display: grid;
    grid-template-columns:  repeat(10, 1fr);
    justify-content: center;
    padding: 0.5rem 12%;
    margin-bottom: 0px;
}

.Lastbar-menus li{
    padding: 1em;
    font-size: 0.9rem;
    list-style-type: none;

}
.Lastbar-menus li:hover
{
    color: #1A82FF;
}
.menu-brand
{
    display: none;
}
.menu-bars
{
    display: none;
}




@media only screen and (max-width: 1300px){
    .mobile-menu-btn
    {
        border: none;
    }

    .show
    {
        display: block;
    }

    .show li
    {
        display: block;
        padding: 10px;
        border-bottom: 1px solid #aaa;
    }   
    .show li:hover
    {
        color: #1A82FF;
        border-bottom: 1px solid #1A82FF;
    }
    .hide
    {
        display: none;
    }
    .mobile-menu
    {
        display: grid;
        grid-template-columns: 95% 5%;
        font-size: 1rem;
        padding: 1rem 12%;

    }

}