.tab-panel-root{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
    
}
.tab-panel-root .tab-panel-container{
    width: 70%;
    display: flex;
    justify-content: flex-start;
}
.tab-panel-items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}
.tab-list-item{
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    text-align: center;
    cursor: pointer;
}
.tab-list-active{
    border-bottom: 3px solid #1A82FF;
    color: #1A82FF;
}
.tab-content{
    width:  100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}