.individual-category-title
{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #aaa;
	padding-top: 2em;
	padding-bottom:1em;
	border-bottom: 1px solid #aaa;
	display: grid;
	grid-template-columns: 4fr 2fr;
}

.individual-category-cards
{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 33%);
	grid-row-gap: 1em;
	margin-top: 1em;
	margin-bottom: 3em;
	padding-bottom: 2em;
	border-bottom: 1px solid #aaa;
}


/* Large screen */
@media only screen and (max-width: 1199px)
{
	.individual-category-title
	{
		grid-template-columns: 3fr 2fr;
	}	
}

/* Medium screen */
@media only screen and (max-width: 991px)
{
	.individual-category-cards
	{
		grid-template-columns: repeat(2, 45%);
		justify-content: center;
	}	
	.individual-category-title
	{
		grid-template-columns: 2fr 2fr;
		font-size: 20px;
		padding-bottom: 0.5em;

	}
	.individual-category-title h2
	{
		font-size: 22px;
		text-align: center;
	}	

}

/* Small screen */
@media only screen and (max-width: 767px)
{
	.individual-category-cards
	{
		grid-template-columns: 1fr;
		justify-content: center;
	}	

	.individual-category-title
	{
		grid-template-columns: 3fr 2fr;
		font-size: 20px;
		padding-bottom: 0.5em;

	}
}

/* Extra Small screen */
@media only screen and (max-width: 575px)
{
	
	.individual-category-cards
	{
		grid-template-columns: 1fr;
		justify-content: center;
	}	
}
