.personal-projects-tab-root{
    width: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.personal-projects-tab-root .personal-projects-tab-container{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
    grid-template-rows: auto;
}
/* .personal-projects-tab-container .tab-item:first-child{
    background-color: #E4F1FF;

}
 */
.active-tab-item
{
    background-color: #E4F1FF;
}
.personal-projects-tab-container .tab-item{
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em;
    border-bottom: 1px solid #1a82ff;
    
}
.tab-item .tab-text{
    align-self: center;
}
.tab-item .tab-text p{
    font-size: 0.8rem;
    color:grey;
    margin-bottom: 0;
}
.tab-item .tab-icon{
    align-self: center;
    font-size: 2rem;
    color: #1A82FF;
}
@media (max-width: 800px) { 
    .personal-projects-tab-root .personal-projects-tab-container{
        
        grid-template-columns: 1fr;
      
    }
}