.App {
  margin:0;
  padding:0;
  box-sizing: border-box;
  width: 100%;
}
.Navbar{
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: blueviolet;
}
.Navbar-main,.Navbar-secondary{
  padding:1em;
  color: white;
}
.Navbar-main{
  width: 50%;
}
.Middlebar{
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: cadetblue;
}
.Middlebar div{
  padding:1.3em;
  font-weight: 500;
  color:wheat;
}
.Middlebar-logo{
  width:35%;
  display: flex;
  justify-content: flex-end;
  
}
.Middlebar-lists{
  width: 30%;
  display:flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.Middlebar-right{
  width:30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.card-container-root{
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  margin-top: 3em;
}
.card-container{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container-main{
  width:100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}
.card-container-main .card:last-child{
  margin: 0px !important;
}
.top-content{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
.top-right, .show-all{
  padding: 10px 10px;
}



@media only screen and (max-width: 800px){
  .card-container-main{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .Middlebar-logo{
    width:45%;
    justify-content: center;
  }
  .Middlebar{
    flex-wrap: wrap;
  }
  .Middlebar-lists{
    width: 50%;
    justify-content: center;
  }
  .Middlebar-right{
    justify-content: flex-end;
  }
  .card-container-main{
    flex-direction: column;
  }
  
}