.Navbar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: blueviolet;
  }
  .Navbar-main,.Navbar-secondary{
    padding:1em;
    color: white;
  }
  .Navbar-main{
    width: 50%;
  }
  .Middlebar{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: cadetblue;
  }
  .Middlebar div{
    padding:1.3em;
    font-weight: 500;
    color:wheat;
  }
  .Middlebar-logo{
    width:35%;
    display: flex;
    justify-content: flex-end;
    
  }
  .Middlebar-lists{
    width: 30%;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .Middlebar-right{
    width:30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .middle-content-root-container{
    padding-top: 4em;
    padding-bottom: 4em;
  }
  .spinner
  {
    margin-left: 50%;
    margin-top: 30px;
    
  }
  .card-top-content-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-top-content{
    width: 78%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
  }
  /* .top-right, .show-all{
    padding: 10px 10px;
  } */
  .pb{
    padding-bottom: 2em;
  }
  .slider-root-container{
    width: 100vw;
  }
  .slider-buttons
  {
    display: inline-block;
    text-align: right;
    box-shadow: 0px 0px 3px #aaa;
    margin-left: 10px;
  }
  .slider-buttons div
  {
    background-color: red;
  }
  .slider-buttons button
  {
    display: inline;
    outline: none;
    border: none;
    color: #6FB0FF;
    background-color: #fff;
    padding: 3px 10px;
    font-size: 12px;
  }
.slider-container
{
  height: 500px;
  padding: 0px;

}


  
  
  
  @media only screen and (max-width: 800px){
    .card-container-main{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
    .Middlebar-logo{
      width:45%;
      justify-content: center;
    }
    .Middlebar{
      flex-wrap: wrap;
    }
    .Middlebar-lists{
      width: 50%;
      justify-content: center;
    }
    .Middlebar-right{
      justify-content: flex-end;
    }
    .card-container-main{
      flex-direction: column;
    }
    
  }