/* Default screen */
.root
{
	background-color: #F2F2F2;

}

.contacts
{
	display: grid;
	grid-template-columns: 55% 15% 20% 10%;
	font-size: 15px;
	padding: 0.5em 1em;
}

.contacts i
{
	margin-right: 10px;
} 
.language select
{
	background-color: transparent;
	border: none;
	outline: none;
}


.phone, .email, .language
{
	text-align: center;
}

.socials
{
	font-size: 16px;
}


/* Large screen */
@media only screen and (max-width: 1199px)
{
	.contacts
	{
		display: grid;
		grid-template-columns: 50% 15% 25% 10%;
		font-size: 15px;
	}
	.phone, .email, .language
	{
		text-align: right;
	}
}

/* Medium screen */
@media only screen and (max-width: 991px)
{
	.contacts
	{
		display: grid;
		grid-template-columns: 25% 25% 35% 15%;
		font-size: 15px;
	}
	
}

/* Small screen */
@media only screen and (max-width: 767px)
{
	.contacts
	{
		display: grid;
		grid-template-columns: 35% 45% 20%;
		
	}
	.phone
	{
		text-align: left;
	}
	.language
	{
		text-align: right;
	}
	.socials
	{
		display: none;
	}
}

/* Extra Small screen */
@media only screen and (max-width: 575px)
{
	.contacts
	{
		padding: 0px;
		display: grid;
		grid-template-areas: "p  e e"
							". l .";
	}
	.phone
	{
		grid-area: p;
	}
	.email
	{
		grid-area: e;
	}
	.language
	{
		grid-area: l;
		text-align: left;
	}
	
}
